@media (max-width: 315px) {
  .app-icon {
    display: none;
  }
}

.navbar-search-form {
  width: auto !important; // override input-group width
}

@media (max-width: 575px) {
  .navbar-search-form {
    width: 100% !important; // override width-auto above
  }
}
