@media (max-width: 315px) {
  .app-icon {
    display: none;
  }
}

body {
  --primary-color: #5F1B68;
  --primary-color-hover: #750085;
  --primary-text-color: #fff;

  .bg-primary, .btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--primary-text-color) !important;
  }

  .bg-primary a:not(.dropdown-item) {
    color: var(--primary-text-color) !important;
  }

  .border-primary, .btn-primary {
    border-color: var(--primary-color) !important;
  }

  .btn-primary:hover {
    background-color: var(--primary-color-hover) !important;
    border-color: var(--primary-color-hover) !important;
  }

  .btn-outline-primary {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;

    &:hover {
      color: var(--primary-text-color) !important;
      background-color: var(--primary-color) !important;
    }
  }

  .link-primary {
    color: var(--primary-color) !important;

    &:hover, &:focus {
      color: var(--primary-color-hover) !important;
    }
  }
}

.alert {
  z-index: 800;
}

.navbar-search-form {
  width: auto !important; // override input-group width
}

.navbar-search-form .btn {
  margin-right: -45px !important;
  z-index: 10;
}

@media (max-width: 575px) {
  .navbar-search-form {
    width: 100% !important; // override width-auto above
  }
}

.page-html {
  p, div {
    margin: 0;
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .showWelcome {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.history-link {
  color: darkgrey;
  text-decoration: none;
  margin-inline-end: 5px;

  &:hover {
    color: darkgrey;
  }
}

// https://blog.maximerouiller.com/post/remove-the-x-from-internet-explorer-and-chrome-input-type-search/
// clears the 'X' from Internet Explorer
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

// clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.result {
  .page-edit-buttons {
    opacity: .5;
  }

  .page-edit-buttons .d-md-block {
    display: none !important;
  }

  @media (min-width: 768px) {
    &:hover .page-edit-buttons .d-md-block {
      display: block !important;
    }
  }

  .card-body {
    & > input {
      display: none;

      &:checked + .preview {
        transition: all 3s ease;
        max-height: unset;
      }

      &:checked ~ label {
        display: none;
      }
    }

    .preview {
      overflow-y: hidden;
      margin-block-start: 4px;
      max-height: 120px;

      &.focused {
        max-height: unset;
      }

      &.smallTruncate {
        transition: all 3s ease;
        max-height: unset;
      }

      &:not(.truncated) ~ label, &.smallTruncate ~ label {
        display: none;
      }

      & ~ label {
        color: #0d6efd;

        &:hover {
          color: #0a58ca;
        }

        opacity: .6;
        margin-top: 10px;
        cursor: pointer;
        display: inline-block;
      }
    }
  }
}

.remove-tag-button {
  font-size: .6rem;
  position: relative;
  left: -3px;
}

.viewSource {
  border: 1px solid black;
  padding: 6px;
  margin: 8px;

  &.rtl {
    direction: rtl;
  }

  &.ltr {
    direction: ltr;
  }
}

.viewSource-container + .editor-container {
  display: none;
}

.editor-container {
  #toolbar {
    button {
      width: auto;
      line-height: initial;

      img {
        margin-block-start: -5px;
        width: 95%;
      }
    }

    .unicode-icon {
      font-size: 1.2em;
      margin-block-start: -5px;
    }

    .ql-picker {
      line-height: initial;
    }

    .ql-picker .ql-picker-label svg {
      right: auto;
      left: 0;
    }
  }

  .ql-container {
    .ql-editor {
      text-align: right;

      li:before {
        margin-left: 0.3em;
        margin-right: 0;
      }
    }
  }

  .ql-snow .ql-tooltip {
    z-index: 1000;
    &::before {
      content: '';
      margin-right: 0;
      margin-left: 8px;
    }

    &[data-mode="link"]::before {
      content: 'הכנס כתובת:';
    }

    a.ql-action::after {
      content: 'עריכה';
      margin-left: 0;
      margin-right: 16px;
    }

    &.ql-editing a.ql-action::after {
      content: 'שמירה';
    }

    a.ql-remove::before {
      content: 'הסרה';
      margin-left: 0;
      margin-right: 8px;
    }
  }
}

mark {
  background-color: #fff3cd;
  padding: 0 2px;
  border-radius: 2px;
}

h5 a.copy {
  display: none;
  margin-inline-start: 10px;
  font-size: .7em;
  text-decoration: none;
}

h5:hover a.copy {
  display: inline;
}
