body {
  direction: rtl;
  background-color: beige;
  box-sizing: border-box;
}

.app {
  display: flex;
  height: 96vh;
  margin: auto;
  justify-content: center;
  align-content: center;

  h1 .titleLink {
    color: inherit;
    text-decoration: none;
  }

  .title {
    margin: 10px auto;
  }

  .notFound {
    font-size: 1.5em;

    .searchedTitle {
      font-weight: bold;
    }
  }

  main {
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      white-space: nowrap;
    }

    &:not(.showWelcome) {
      .title {
        position: fixed;
        top: 0;
        right: 10px;
      }

      .searchForm {
        position: fixed;
        top: 60px;
        right: 10px;
        width: calc(100vw - 100px);
      }

      .logo {
        position: fixed;
        top: 45px;
        left: 10px;
        img {
          width: 60px;
        }
      }
    }
  }

  .logo img {
    margin-block-start: 10px;
    width: 200px;
  }
}

.results {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 144px);
  overflow: auto;
  top: 120px;
  right: 12px;
  left: 12px;
  background-color: #DEE;
  padding: 7px 10px;

  > h1 {
    margin-block-start: 0;
    margin-block-end: 10px;

    a {
      text-decoration: none;
      color: black;
    }
  }

  .resultsTitle {
    font-size: 1.2em;
    margin-block-end: 7px;
  }

  .titleLink {
    font-size: 1.3em;
    margin-block-end: 14px;
    text-decoration: none;
    align-self: start;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tag {
  background-color: darkkhaki;
  border-radius: 12px;
  padding: 2px 10px;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    background-color: burlywood;
  }
}

.page > div {
  line-height: 1.5em;
}

.page {
  .backButton {
    margin-inline-end: 5px;
    text-decoration: none;
  }

  .tags {
    margin-block-start: 10px;
    display: flex;

    a {
      margin-inline-end: 5px;
    }
  }
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin-block-end: 10px;

  input {
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    outline: 0;
  }

  .searchIcon {
    display: inline-block !important;
    width: 20px;
    height: 20px;
    margin-inline-start: -30px;
  }
}

.loginPage {
  background: aliceblue;
  font-size: 1.3em;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px rebeccapurple;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;
  max-width: calc(100vw - 30px);

  form {
    margin-block-start: 10px;
    margin-block-end: 10px;
    display: flex;
    justify-content: center;

    input {
      margin-inline-end: 8px;
      font-size: 1em;
      border-radius: 5px;
      outline: 0;
    }

    button {
      border-radius: 20px;
      min-width: 4em;
      font-size: 0.8em;
      background-color: #3899EC;
      border: 1px solid #3899EC;
      outline: 0;
      padding: 0 17px;
      color: white;
      text-decoration: none;
      user-select: none;

      &:disabled {
        color: lightgrey;
      }
    }
  }

  .error {
    color: red;
    height: 160px;
    display: flex;

    .contact {
      color: purple;
    }

    .adminPhone {
      font-weight: bold;
    }

    &.None {
      justify-content: center;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

.account {
  position: fixed;
  top: 3px;
  left: 5px;
  font-size: 0.8em;
}
