body {
  direction: rtl;
  font-family: Verdana, Geneva, sans-serif;
  background-color: beige;
}

.page, .home {
  display: flex;
  height: 96vh;
  margin: auto;
}


.title {
  margin: 10px auto;
}

.home {
  justify-content: center;
  align-content: center;

  main {
    margin-inline: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
      white-space: nowrap;
    }
  }

  .logo img {
    margin-block-start: 10px;
    width: 200px;
  }
}

.searchForm {
  display: flex;
  align-items: center;
  width: 100%;
  margin-block-end: 10px;

  input {
    border-radius: 20px;
    border: 1px solid grey;
    padding: 10px;
    width: 100%;
    font-size: 1.1em;
    outline: 0;

    & ~ * {
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-inline-start: -30px;
    }
  }
}

.loginPage {
  background: aliceblue;
  font-size: 1.3em;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 2px rebeccapurple;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 10px;

  form {
    margin-block: 10px;
    display: flex;
    justify-content: center;

    input {
      margin-inline-end: 8px;
      font-size: 1em;
      border-radius: 5px;
      outline: 0;
    }

    button {
      border-radius: 20px;
      min-width: 4em;
      font-size: 0.8em;
      background-color: #3899EC;
      border: 1px solid #3899EC;
      outline: 0;
      padding: 0 17px;
      color: white;
      text-decoration: none;
      user-select: none;

      &:disabled {
        color: lightgrey;
      }
    }
  }

  .error {
    color: red;
    height: 160px;
    display: flex;

    .contact {
      color: purple;
    }

    .adminPhone {
      font-weight: bold;
    }

    &.None {
      justify-content: center;

      img {
        width: auto;
        height: 100%;
      }
    }
  }
}

.account {
  position: fixed;
  top: 3px;
  left: 5px;
  font-size: 0.8em;
}
